<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einkaufsliste</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --->

</head>
<body>
<div class="Angebote">
    <span>Angebote</span>
        <table border="5">
            <tr>
              <td>{{item.text}}</td>
              <td>{{item.text}}</td>
              <td>{{item.text}}</td>
            </tr>
            <tr>
              <td>{{item.text}}</td>
              <td>{{item.text}}</td>
              <td>{{item.text}}</td>
            </tr>
          </table>
    </div>
    <div class="second row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class ="first row">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
    <div class ="second row">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</div>
{% csrf_token %}
<div class="mittel list">
<select size="2" multiple>
    <option>Abflussentkalker</option>
    <option>Damenbinden</option>
    <option>Deo Herren</option>
    <option>Deo Damen</option>
    <option>Haarspülung</option>
    <option>Rasierschaum</option>
    <option>Shampoo Herren</option>
    <option>Shampoo Damen</option>
    <option>Spülmittel</option>
    <option>Scheibenreiniger</option>
    <option>Seife</option>
    <option>Schwamm</option>
    <option>Toilettenpapier</option>
    <option>Zahnbürste</option>
    <option>Zahnseide</option>
</select>
</div>

</body>
</html>

